[submodule "colcon-ros-cargo"]
	path = colcon-ros-cargo
	url = https://github.com/jerry73204/colcon-ros-cargo.git
[submodule "cargo-ament-build"]
	path = cargo-ament-build
	url = https://github.com/jerry73204/cargo-ament-build.git
